.about {
  background-color: var(--sec-bg-color);
  /* box-shadow: var(--sec-bg-color) 0px 13px 27px -5px, var(--sec-bg-color) 0px 8px 16px -8px; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.text-about {
  width: 40%;
  text-align: center;
}

.tec-img-content {
  display: flex;
  gap: .8rem;
}

.tec-img {
  height: 80px !important;
  width: 80px !important;
  /* animation: tecImg 1s alternate; */
  border-radius: 0 !important;
}

.socials {
  display: flex;
  gap: .5rem;
}

.socials-content {
  padding: .6rem;
  border: .08rem solid var(--text-color);
  transition: all 1s;
}

.socials-content:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transform: scale(1.1);
}

.img-socials {
  height: 40px !important;
  width: 40px !important;
  border-radius: 0 !important;
}
