.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.description {
  /* box-shadow: var(--sec-bg-color) 0px 13px 27px -5px, var(--sec-bg-color) 0px 8px 16px -8px; */
  width: 80%;
  height: 500px;
  border-radius: 10px;
  margin: 1rem;
  /* border: 2px solid var(--sec-bg-color); */
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 50%;
  height: 400px;
  object-fit: fill;
  object-position: bottom;
  animation: showContentLeft 1s linear;
}

.about-title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}

.about-title h2 {
  transform: translateX(0);
  opacity: 1;
  animation: showContent .8s linear;
}

/* .about-title .attr {
  animation: showContent .5s ease-in;
} */

.attr {
  font-weight: bold;
  font-size: 1.1rem;
  /* background-color: var(--text-color); */
  color: var(--spec-text-color);
  animation: showContent .9s linear;
}

.about-description {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: justify;
  animation: showContent 1s linear;
}

.socials-box {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  width: 100%;
  padding: .5rem 0;
}

.socials-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  transform: translateX(-100%);
  animation: revealBlock .5s .8s both;
}

.socials {
  display: flex;
  gap: .5rem;
  opacity: 0;
  animation: fandInSocials 0s .8s both;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-content {
  padding: .6rem;
  border: .08rem solid var(--text-color);
  transition: all 1s;
}

.socials-content:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transform: scale(1.1);
}

.img-socials {
  height: 40px !important;
  width: 40px !important;
  border-radius: 0 !important;
  cursor: pointer;
}


@keyframes fandInSocials {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes revealBlock {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showContentLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}