header {
  padding: 1em;
  /* border-bottom: 1px solid var(--spec-text-color); */
  /* background-color: var(--bg-color); */
  background-color: transparent;
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .8rem;
  width: 100%;
}

.header-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  transition: all .8s;
}

.content-logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.wood-logo {
  width: 70px;
  height: 70px; ;
}

.navgation {
  display: flex;
  gap: 1.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  transition: all .8s;
}

.nav-item:hover {
  color: var(--spec-text-color);
}

.contact {
  background-color: var(--text-color);
  padding: .8rem;
  border-radius: 25px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  transition: all .8s;
}

.nav-item:hover {
  transform: scale(1.05);
}

.contact:hover {
  transform: scale(1.1);
}

.logo:hover {
  transform: scale(1.1);
}