:root {
  --bg-color: #0D1117;
  --sec-bg-color: #161B22;
  --spec-text-color: #f4efef;
  --text-color: #ed3b65;
  --h1-color: #d55d92;
  --h2-color: #7209b7;
  --button-color: #ed3b65;
}

.special-hover:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transform: scale(1.1);
}